<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Shoot me an E-mail</title>
</head>
<body>
    <div class="container mt-4  bg-light">
        <div class="col-6 mx-auto mb-3 ml-3">
            <form action="/app/mail/" method="POST">
                {% csrf_token %}
                <h1 style="text-align:center; margin-bottom:1em; color: rgb(66, 113, 113);">Send me a message</h1>
                 {{ form.message}}
                    <button type="submit" class="btn-primary btn-lg mt-4" style="background-color:rgb(66, 113, 113);">SEND</button>             
                </form>
        </div>

    </div>
</body>
</html>
